<section class="hero is-light">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Welcome To Blockbusters
			</h1>
			<h2 class="subtitle">
				Your videoshop online
			</h2>
		</div>
	</div>
</section>