<aside class="column is-2 aside hero is-fullheight">
	<div>
		<div class="compose has-text-centered">
			<a class="button is-dark is-bold">New Video</a>
			<a class="button is-dark is-bold">New Customer</a>
		</div>
		<div class="main">
			<a href="/" class="item active"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Home</span></a>
			<a href="/videos" class="item"><span class="icon"><i class="fa fa-file-video-o"></i></span><span class="name">Videos</span></a>
			<a href="#" class="item"><span class="icon"><i class="fa fa-file-text-o"></i></span><span class="name">Rentals</span></a>
			<a href="/customers" class="item"><span class="icon"><i class="fa fa-user"></i></span><span class="name">Customers</span></a>
		</div>
	</div>
</aside>