@model Blockbusters.ViewModels.RentalsViewModel

<div class="header">
	<p class="title is-1 is-spaced">@Model.Header</p>
	<a href="/rentals/add" class="button is-dark is-medium">New Rental</a>
</div>

@if (Model.Paging.Table.Data.Any())
{
	@Html.Partial("Partials/Rentals/List", Model.Paging)
}
else
{
	<div class="notification is-danger">
		Did not find any rental history
	</div>
}