@model Blockbusters.ViewModels.VideosViewModel

<div class="header">
	<p class="title is-1 is-spaced">@Model.Header</p>
	<a href="/videos/add" class="button is-dark is-medium">New Video</a>
</div>

@if (Model.Paging.Table.Data.Any())
{
	@Html.Partial("Partials/Videos/List", Model.Paging)
}
else
{
	<div class="notification is-danger">
		Did not find any videos
	</div>
}