@model Blockbusters.ViewModels.CustomersViewModel
	
<div class="header">
	<p class="title is-1 is-spaced">@Model.Header</p>
	<a href="/customers/add" class="button is-dark is-medium">New Customer</a>	
</div>

@if (Model.Paging.Table.Data.Any())
{
	@Html.Partial("Partials/Customers/List", Model.Paging)
}
else
{
	<div class="notification is-danger">
		Did not find any customers
	</div>
}