@model Blockbusters.ViewModels.CustomersViewModel
	
<div class="header">
	<p class="title is-1 is-spaced">@Model.Header</p>
	<a href="/customers/add" class="button is-dark is-medium">New Customer</a>	
</div>

@Html.Partial("Partials/Customers/List", Model.Paging)

@section Scripts {
	<script type="text/javascript">
		$('tr[data-href]').on("click", function() {
			document.location = $(this).data('href');
		});
	</script>
}