@model Blockbusters.ViewModels.CustomersViewModel
	
<div class="header">
	<p class="title is-1 is-spaced">@Model.Header</p>
	<a href="/customers/add" class="button is-dark is-medium">New Customer</a>	
</div>

<table class="table is-fullwidth customers">
	<thead>
	<tr>
		<th>Firstname</th>
		<th>Lastname</th>
		<th>Email</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var customer in Model.Paging.Data)
	{
		<tr data-href="/customers/details/@customer.Id">
			<td>@customer.FirstName</td>
			<td>@customer.LastName</td>
			<td>@customer.Email</td>
		</tr>
	}
	</tbody>
</table>


@section Scripts {
	<script type="text/javascript">
		$('tr[data-href]').on("click", function() {
			document.location = $(this).data('href');
		});
	</script>
}